#indexjumbotron {
    max-width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    height: 500px;
}
#navname {
    font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #007bff;
    font-size: 24pt;
}
#aboutme {
    font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #007bff;
    font-size: 24pt;
}
#bio {
    font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: navy;
    font-size: 16pt;
}
#indexnav {
    background-color: #e9ecef;
    max-width: 90%;
    margin-left: 5%;
}